<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">Terms & Conditions</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, architecto iure! Culpa et explicabo iste cumque, minus vero nihil dicta illo? Voluptatum consectetur obcaecati distinctio culpa illo reprehenderit reiciendis accusantium officia maiores fuga nobis minus totam aliquid repudiandae quis repellendus, commodi assumenda nemo sit odit perferendis! Eaque, blanditiis! Consequatur error modi voluptatibus, aliquid ipsum tempora laborum veniam cum consequuntur voluptatem repudiandae facilis est incidunt nihil et similique illum nesciunt possimus libero praesentium qui. Distinctio dolores est consectetur iure atque quisquam dignissimos optio. Esse, consequatur accusamus. Quod magnam inventore est eveniet at. Laboriosam maxime hic cumque adipisci delectus sequi optio sit.</p>
            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
            </div>
        </div>
    </div>
</section>