.card {
    max-width: 400px;
    height: 450px;
    cursor: pointer;
}

img {
    height: 200px;
}

h5 {
    max-height: 200px;
    overflow: hidden;
}

p {
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  overflow: hidden;
}